html {
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
*,
*::after,
*::before {
  box-sizing: inherit;
  font: inherit;
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
  font-weight: 400;
  line-height: 1;
  color: #555;
}
